<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>hotkeyd</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/hotkeyd.x</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Library/Logs/hotkeyd-stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Library/Logs/hotkeyd-stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>HOTKEYD_CONFIG</key>
      <string>/Users/keshavbabu/.config/hotkeyd/hotkeyd.toml</string>
    </dict>
</dict>
</plist>
